.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
  margin: 50px auto;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 350px;
}

.card-header {
  border-bottom-color: #edeff0;
  background: transparent;
  text-align: center;
}
